<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', type='text/css', href='style.css')
    title Modal PopUp
  body
    button#myBtn(type='button') Portal Login
  .modal#myModal
    .modal-content 
      span#close &times;
      h4 Login
      form(action='/action_page.php')
        | Username
        input(type='text', name='username')
        br
        | Password 
        input(type='text', name='password')
        br
        input#submitBtn(type='submit', value='Submit')

  script(src="index.js")