<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', type='text/css', href='style.css')
    title Modal PopUp
  body
    button#myBtn(type='button') Portal Login
    #modal-wrapper.modal
        form.modal-content.animate(action='https://secure.healthx.com/autologin.aspx' method='post')
          .imgcontainer
            span.close(onclick="document.getElementById('modal-wrapper').style.display='none'", title='Close PopUp') ×
            img.modalLogo(src='http://brainstorm.solutions/bas/wp-content/uploads/2017/02/logo.png')
            h1(style='text-align:center') Portal Login
          .container
            input(type='text', placeholder='Username', name='username')
            input(type='password', placeholder='Password', name='password')
            button(type='submit') Login
            input(type='checkbox', style='margin:10px;')
            | Remember me      
            a(href='#', style='text-decoration:none; float:right; margin-right:34px; margin-top:26px;') Forgot Password ?
  script(src="index.js")