<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')    
    title Modal PopUp
  body
    .team-bio
      img#bas-directorbd-mar.bio-picture(src='http://brainstorm.solutions/bas/wp-content/uploads/2017/08/Team_Elizabeth-T.jpg')
      .team-bio-name
        h4 Elizabeth Toscano
        span Director of Business Development - Mid Atlantic Region
      .team-bio-modal
        .team-bio-modal-scroll
          .team-bio-modal-close
          .team-bio-modal-content
            img.bio-picture(src='http://brainstorm.solutions/bas/wp-content/uploads/2017/08/Team_Elizabeth-T.jpg')
            .team-bio-name
              h4 Elizabeth Toscano
              span.company-title Director of Business Development - Mid Atlantic Region
              br
              a(href='https://www.linkedin.com/in/elizabeth-toscano-6a645732/', class="linkedin-url", title='View LinkedIn profile', target='_blank')
                | LinkedIn Profile 
                i.icon-linkedin
            p.bio-content-p1
              | Elizabeth holds a Bachelor’s Degree in Marketing from Columbia College in Chicago, IL. She started at BAS in 2006 as a Sales and Marketing Representative for small groups. In this role she marketed stop loss and sold a small group product for employer groups of 10-100 employee lives. Soon after she took over the additional responsibility of Wellness Coordinator due to her passion for healthy lifestyles. She was responsible for the design, implementation, and reporting of all activity based and outcome based wellness programs. Her success in this position was proved by positive measurable outcomes.
            p.bio-content-p2
              | Elizabeth is currently a Sales Executive for mid to large size employer groups. Her territory includes IL, MI, PA, NY, NJ, MD and Washington D.C. Her expertise in a wide array of stop loss products, analytics, network and reference based pricing, regulatory compliance and plan design help her accomplish long term cost reduction strategies with her clients.
            img.region-map(src='http://brainstorm.solutions/bas/wp-content/uploads/2017/08/map-elizabeth.png')
            p.quote
              | I know I’ve done my job when I can identify a client’s particular needs, and provide the right solution for them. I am dedicated and diligent in applying the latest industry standards along-side our BAS solutions and I strive to provide the best service possible. The most rewarding part of my job is knowing that my clients are satisfied.
            p.bio-content-p3
              | In her free time, Elizabeth enjoys spending time with her family. She loves to cook, and she considers herself an expert in Italian cuisine. Whenever Elizabeth has time for a break you can expect she’s traveling and learning about new cultures, new foods, and living life to the fullest! She is also an active member in both SIIA, and SPBA.

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js') 
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')  
  script(src="functions.js")